<?xml version="1.0" encoding="UTF-8"?>
<kcfg xmlns="http://www.kde.org/standards/kcfg/1.0"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.kde.org/standards/kcfg/1.0
                          http://www.kde.org/standards/kcfg/1.0/kcfg.xsd" >
    <kcfgfile name=""/>
    <group name="">

    <entry name="debug" type="Bool">
	    <label>Print debug messages</label>
        <default>false</default>
    </entry>

    <entry name="enableTileLayout" type="Bool">
	    <label>Enable/disable Tile layout</label>
        <default>true</default>
    </entry>

    <entry name="enableMonocleLayout" type="Bool">
	    <label>Enable/disable Monocle layout</label>
        <default>true</default>
    </entry>

    <entry name="enableThreeColumnLayout" type="Bool">
	    <label>Enable/disable Three Column layout</label>
        <default>true</default>
    </entry>

    <entry name="enableSpreadLayout" type="Bool">
	    <label>Enable/disable Spread layout</label>
        <default>true</default>
    </entry>

    <entry name="enableStairLayout" type="Bool">
	    <label>Enable/disable Stair layout</label>
        <default>true</default>
    </entry>

    <entry name="enableQuarterLayout" type="Bool">
	    <label>Enable/disable Quarter layout</label>
        <default>false</default>
    </entry>

    <entry name="enableFloatingLayout" type="Bool">
	    <label>Enable/disable Floating layout</label>
        <default>false</default>
    </entry>

    <entry name="ignoreActivity" type="String">
	    <label>Do not apply tiling on some activities(comma-separated list of activity names)</label>
        <default></default>
    </entry>

    <entry name="ignoreClass" type="String">
	    <label>Ignore windows with certain classes(comma-separated list)</label>
        <default>krunner,yakuake,spectacle,kded5</default>
    </entry>

    <entry name="ignoreRole" type="String">
	    <label>Ignore windows with specific role(comma-separated list)</label>
        <default>quake</default>
    </entry>

    <entry name="ignoreScreen" type="String">
	    <label>Do not apply tiling on some screens(comma-separated list of screen number)</label>
        <default></default>
    </entry>

    <entry name="ignoreTitle" type="String">
	    <label>Ignore windows with certain string in title(comma-separated list)</label>
        <default></default>
    </entry>

    <entry name="floatingClass" type="String">
	    <label>Float windows with certain classes(comma-separated list)</label>
        <default></default>
    </entry>

    <entry name="floatingTitle" type="String">
	    <label>Float windows with certain string in title(comma-separated list)</label>
        <default></default>
    </entry>

    <entry name="floatUtility" type="Bool">
	    <label>Automatically float utility windows (Dialog, Splash, Utility)</label>
        <default>true</default>
    </entry>

    <entry name="layoutPerActivity" type="Bool">
        <label>Use separate layouts per activity.</label>
        <default>true</default>
    </entry>

    <entry name="layoutPerDesktop" type="Bool">
        <label>Use separate layouts per desktop.</label>
        <default>true</default>
    </entry>

    <entry name="maximizeSoleTile" type="Bool">
	    <label>If there is only one tile on the screen, remove screen gap and its borde, making it appear almost fullscreen.</label>
        <default>false</default>
    </entry>

    <entry name="monocleMaximize" type="Bool">
	    <label>Always maximize windows in Monocle layout</label>
        <default>true</default>
    </entry>

    <entry name="monocleMinimizeRest" type="Bool">
	    <label>Minimize other tiles than the current one in Monocle layout</label>
        <default>false</default>
    </entry>

    <entry name="adjustLayout" type="Bool">
	    <label>Adjust layout with mouse</label>
        <default>true</default>
    </entry>

    <entry name="adjustLayoutLive" type="Bool">
	    <label>Adjust as window is being resized</label>
        <default>true</default>
    </entry>

    <entry name="keepFloatAbove" type="Bool">
	    <label>Keep tiled windows below floating windows</label>
        <default>true</default>
    </entry>

    <entry name="noTileBorder" type="Bool">
        <label>Remove borders of tiled windows</label>
        <default>false</default>
    </entry>

    <entry name="preventMinimize" type="Bool">
        <label>Prevent windows from minimizing</label>
        <default>false</default>
    </entry>

    <entry name="preventProtrusion" type="Bool">
        <label>Prevent windows from protruding out of screen</label>
        <default>true</default>
    </entry>

    <entry name="screenGapLeft" type="Int">
        <label>Gap between tiles and screen borders (Left)</label>
        <default>0</default>
    </entry>

    <entry name="screenGapRight" type="Int">
        <label>Gap between tiles and screen borders (Right)</label>
        <default>0</default>
    </entry>

    <entry name="screenGapTop" type="Int">
        <label>Gap between tiles and screen borders (Top)</label>
        <default>0</default>
    </entry>

    <entry name="screenGapBottom" type="Int">
        <label>Gap between tiles and screen borders (Bottom)</label>
        <default>0</default>
    </entry>

    <entry name="tileLayoutGap" type="Int">
        <label>Gap between tiles in Tile layout</label>
        <default>0</default>
    </entry>

    <entry name="pollMouseXdotool" type="Bool">
	    <label>Poll actual mouse position using xdotool (for tile swapping, for example)</label>
        <default>false</default>
    </entry>

    <entry name="directionalKeyDwm" type="Bool">
	    <label>Up, Down, Left, and Right shortcut behaves like dwm</label>
        <default>true</default>
    </entry>

    <entry name="directionalKeyFocus" type="Bool">
	    <label>Up, Down, Left, and Right shortcut moves focus</label>
        <default>false</default>
    </entry>

    <entry name="limitTileWidth" type="Bool">
	    <label>Limit the width of tiles</label>
        <default>false</default>
    </entry>

    <entry name="limitTileWidthRatio" type="Double">
	    <label>Ratio of maximum tile width to the height of screen</label>
        <default>1.6</default>
    </entry>

    <entry name="newWindowAsMaster" type="Bool">
        <label>Put new window as master</label>
        <default>false</default>
    </entry>
  </group>
</kcfg>
