<?xml version="1.0" encoding="UTF-8"?>
<kcfg xmlns="http://www.kde.org/standards/kcfg/1.0"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.kde.org/standards/kcfg/1.0
                          http://www.kde.org/standards/kcfg/1.0/kcfg.xsd" >
    <kcfgfile name=""/>
    <group name="">

    <entry name="enableTileLayout" type="Bool">
	    <label>Enable/disable Tile layout</label>
        <default>true</default>
    </entry>

    <entry name="enableMonocleLayout" type="Bool">
	    <label>Enable/disable Monocle layout</label>
        <default>true</default>
    </entry>

    <entry name="enableSpreadLayout" type="Bool">
	    <label>Enable/disable Spread layout</label>
        <default>true</default>
    </entry>

    <entry name="enableStairLayout" type="Bool">
	    <label>Enable/disable Stair layout</label>
        <default>true</default>
    </entry>

    <entry name="ignoreClass" type="String">
	    <label>Ignore windows with certain classes(comma-separated list)</label>
        <default>krunner,yakuake,spectacle,kded5</default>
    </entry>

    <entry name="floatingClass" type="String">
	    <label>Float windows with certain classes(comma-separated list)</label>
        <default></default>
    </entry>

    <entry name="floatUtility" type="Bool">
	    <label>Automatically float utility windows (Dialog, Splash, Utility)</label>
        <default>true</default>
    </entry>

    <entry name="jiggleTiles" type="Bool">
        <label>Jiggle tiles to forcefully unfreeze them (experimental)</label>
        <default>false</default>
    </entry>

    <entry name="layoutPerActivity" type="Bool">
        <label>Use separate layouts per activity.</label>
        <default>false</default>
    </entry>

    <entry name="layoutPerDesktop" type="Bool">
        <label>Use separate layouts per desktop.</label>
        <default>false</default>
    </entry>

    <entry name="noTileBorder" type="Bool">
        <label>Remove borders of tiled windows</label>
        <default>false</default>
    </entry>

    <entry name="screenGapLeft" type="Int">
        <label>Gap between tiles and screen borders (Left)</label>
        <default>0</default>
    </entry>

    <entry name="screenGapRight" type="Int">
        <label>Gap between tiles and screen borders (Right)</label>
        <default>0</default>
    </entry>

    <entry name="screenGapTop" type="Int">
        <label>Gap between tiles and screen borders (Top)</label>
        <default>0</default>
    </entry>

    <entry name="screenGapBottom" type="Int">
        <label>Gap between tiles and screen borders (Bottom)</label>
        <default>0</default>
    </entry>

    <entry name="tileLayoutGap" type="Int">
        <label>Gap between tiles in Tile layout</label>
        <default>0</default>
    </entry>

  </group>
</kcfg>
