# SPDX-FileCopyrightText: none
#
# SPDX-License-Identifier: MIT

[Desktop Entry]
Name=Window Tiling
Comment=Configure window tiling appearance and behavior
Encoding=UTF-8
Type=Service
Icon=bismuth-kcm
X-KDE-Library=kcm_bismuth
X-KDE-ServiceTypes=KCModule
X-KDE-FormFactors=desktop,handset,tablet,mediacenter
X-Plasma-MainScript=ui/main.qml
X-KDE-System-Settings-Parent-Category=windowmanagement
X-KDE-Keywords=KWin,Script,Tiling,Bismuth,Window,WM,Layout,Gaps,Borders,Rules,Minimization,Float
X-KDE-ParentApp=kcontrol
X-KDE-PluginInfo-Name=kcm_bismuth
