# SPDX-FileCopyrightText: none
# SPDX-License-Identifier: MIT

[Desktop Entry]
Name=Bismuth
Comment=Tiling extension that gets you down to bismuth
Icon=bismuth

X-Plasma-API=declarativescript
X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Author=Mikhail Zolotukhin
X-KDE-PluginInfo-Email=mail@genda.life
X-KDE-PluginInfo-Name=bismuth
X-KDE-PluginInfo-Version=@CMAKE_PROJECT_VERSION@

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=MIT
X-KDE-ServiceTypes=KWin/Script

X-KDE-PluginKeyword=bismuth
X-KDE-ParentComponents=bismuth

Type=Service
